In [64]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [65]:
sheets_dict = pd.read_excel('bode1/EVOCARD.xlsx', sheet_name=None)

In [66]:
for sheet_name, df in sheets_dict.items():
    if sheet_name == 'CARD_FACT':
        fact_df = df.copy()
    elif sheet_name == "CARD_DIM":
        dim_df =  df.copy()

In [67]:
# merge 2 sheets
merged_df = pd.merge(fact_df, dim_df, on=['CIF hash', 'CARD_NBR hash'], how="inner", suffixes=('_left','_right'))

# convert transaction time
merged_df['TXN_TM'] = pd.to_datetime(merged_df['TXN_TM'])

# sort by transaction time
merged_df = merged_df.sort_values(by='TXN_TM', ignore_index=True)

# drop unsuccessful transaction
merged_df = merged_df[~merged_df["TXN_SRC_ID"].isna()]

In [68]:
merged_df.head(10)

,CIF hash,CARD_NBR hash,TXN_TM,TML_WEB_AP_NM,DSC,NET_CASH_FLOW_AMT_LCY,TXN_SRC_ID,CARD_CLASSCIFICATION,CREDIT_LIMIT
11,d46f9418182bc00b4d12d4eee5058c41,e3ec0045c51675ba5bd927204be7a68ae0e7dbb38d9493...,2022-05-22 02:54:08,OPTP0000,"TKTT MOBILE BANKING 57 LY THUONG KIET, HOAN KI...",200000.0,270573626.0,VC,12000000
12,0deb82c7391489aa02c771fec3b67f0f,41874f1bdd5736ee9e3c884326e3137839484f3ab3a86b...,2022-05-22 08:45:26,OPTP0000,MOMO VN 1900545441 704,512200.0,270596125.0,VC,11000000
13,0deb82c7391489aa02c771fec3b67f0f,41874f1bdd5736ee9e3c884326e3137839484f3ab3a86b...,2022-05-22 08:51:55,OPTP0000,MOMO VN 1900545441 704,512200.0,270597152.0,VC,11000000
14,0deb82c7391489aa02c771fec3b67f0f,41874f1bdd5736ee9e3c884326e3137839484f3ab3a86b...,2022-05-22 08:56:27,OPTP0000,MOMO VN 1900545441 704,308200.0,270597964.0,VC,11000000
15,4f5a39e1204e049da7edf68b8f5f3414,27b838994beccba6db7ddc83a6b75f97c0a8bcadb8f815...,2022-05-22 09:08:59,OPTP0000,TIKI 842873058454 704,610000.0,270600572.0,VC,50000000
16,73842a366de67e8d76320590e6a6ced8,5001c0d5c425bdfdcd5108671045068a43e3012dc4faf7...,2022-05-22 13:01:42,OPTP0000,TIKI 842873058454 704,205000.0,270648761.0,VC,50000000
17,0828e14ddfd5dcfe9b2fc7a54eeba5f8,f0b80252f29a51ae72a1e4a259ca6857824f00e62cc868...,2022-05-22 15:39:27,OPTP0000,WCM_VINMART_6155_NGUYENXI NGHE AN 704,13300.0,270677082.0,VC,40000000
18,73842a366de67e8d76320590e6a6ced8,5001c0d5c425bdfdcd5108671045068a43e3012dc4faf7...,2022-05-22 17:00:48,OPTP0000,Grab* A-3GA676EGWIQT 00 704,135000.0,270696522.0,VC,50000000
19,0828e14ddfd5dcfe9b2fc7a54eeba5f8,f0b80252f29a51ae72a1e4a259ca6857824f00e62cc868...,2022-05-22 17:50:35,OPTP0000,WCM_VINMART_6155_NGUYENXI NGHE AN 704,188611.0,270710131.0,VC,40000000
20,0828e14ddfd5dcfe9b2fc7a54eeba5f8,f0b80252f29a51ae72a1e4a259ca6857824f00e62cc868...,2022-05-22 17:55:27,OPTP0000,WCM_VINMART_6155_NGUYENXI NGHE AN 704,11620.0,270711389.0,VC,40000000

In [69]:
merged_df.tail()

,CIF hash,CARD_NBR hash,TXN_TM,TML_WEB_AP_NM,DSC,NET_CASH_FLOW_AMT_LCY,TXN_SRC_ID,CARD_CLASSCIFICATION,CREDIT_LIMIT
19556,8b0cd88c599475377a006f9535233825,fddd87622ba07539c2b1a1689ce4fa67725ceda0e70fdb...,2023-08-21 23:03:08,OPTP0000,THE GIOI DI DONG 0838125960 704,30000.0,410760486.0,VC,29000000
19557,626ef5a51add74b6f85c885fc3063527,e2b6431a93ca2afde0c086e989446eb9db12b42673fe0c...,2023-08-21 23:23:27,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,2993900.0,410769910.0,VC,6000000
19558,626ef5a51add74b6f85c885fc3063527,e2b6431a93ca2afde0c086e989446eb9db12b42673fe0c...,2023-08-21 23:25:09,OPTP0000,"TKTT MOBILE BANKING 57 LY THUONG KIET, HOAN KI...",136850.0,410770114.0,VC,6000000
19559,626ef5a51add74b6f85c885fc3063527,e2b6431a93ca2afde0c086e989446eb9db12b42673fe0c...,2023-08-21 23:26:21,OPTP0000,MPOS*HKDTOPTEPMART Q BA DINH 704,3070000.0,410770270.0,VC,6000000
19560,8b0cd88c599475377a006f9535233825,fddd87622ba07539c2b1a1689ce4fa67725ceda0e70fdb...,2023-08-21 23:33:39,OPTP0000,NL-ALEPAY*FPTSHOP 1900585899 704,100000.0,410772034.0,VC,29000000

In [70]:
def split_period_time(df, time_col):
    df['year'] = df[time_col].dt.year
    df['month'] = df[time_col].dt.month
    df['day'] = df[time_col].dt.day

    # Create a mask for rows where date falls between 22nd of one month and 21st of the next month
    mask = ((df[time_col].dt.day >= 22) & (df[time_col].dt.month == df['month'])) | \
        ((df[time_col].dt.day <= 21) & (df[time_col].dt.month == df['month'] + 1))
    interval_1 = df[mask]
    interval_2 = df[~mask]
    return interval_1, interval_2

split_period_time(merged_df, "TXN_TM")

(                               CIF hash  \
 11     d46f9418182bc00b4d12d4eee5058c41
 12     0deb82c7391489aa02c771fec3b67f0f
 13     0deb82c7391489aa02c771fec3b67f0f
 14     0deb82c7391489aa02c771fec3b67f0f
 15     4f5a39e1204e049da7edf68b8f5f3414
 ...                                 ...
 18432  815e4858d422f45f27ff703fce8acfed
 18433  c84c21d3cfcb4def3e270feecc2d6a1c
 18434  c2f3fd47caf7ec23caf8f5eba6b0fc0d
 18435  e3401091fa9d2f4e4ad6539c6e4a2787
 18436  8b0cd88c599475377a006f9535233825

                                            CARD_NBR hash              TXN_TM  \
 11     e3ec0045c51675ba5bd927204be7a68ae0e7dbb38d9493... 2022-05-22 02:54:08
 12     41874f1bdd5736ee9e3c884326e3137839484f3ab3a86b... 2022-05-22 08:45:26
 13     41874f1bdd5736ee9e3c884326e3137839484f3ab3a86b... 2022-05-22 08:51:55
 14     41874f1bdd5736ee9e3c884326e3137839484f3ab3a86b... 2022-05-22 08:56:27
 15     27b838994beccba6db7ddc83a6b75f97c0a8bcadb8f815... 2022-05-22 09:08:59
 ...                                                  ...                 ...
 18432  af446dd0dce35b7c0d687b32466726c89239b37dd8fcf9... 2023-07-31 21:07:03
 18433  093cd5a7de80aec3a44e423f36f9da99559bdfe7fc3c4b... 2023-07-31 21:07:44
 18434  6a1b84507d688d1c177bb9bd6f5ed933f920fe9bc52f2a... 2023-07-31 21:43:43
 18435  8c84ad802dcc30189ffa181553b07bad8baf489d045fdb... 2023-07-31 22:12:24
 18436  fddd87622ba07539c2b1a1689ce4fa67725ceda0e70fdb... 2023-07-31 23:42:23

       TML_WEB_AP_NM                                                DSC  \
 11         OPTP0000  TKTT MOBILE BANKING 57 LY THUONG KIET, HOAN KI...
 12         OPTP0000                             MOMO VN 1900545441 704
 13         OPTP0000                             MOMO VN 1900545441 704
 14         OPTP0000                             MOMO VN 1900545441 704
 15         OPTP0000                              TIKI 842873058454 704
 ...             ...                                                ...
 18432      OPTP0000                                Lazada 19001007 704
 18433      OPTP0000                       FUNDEDNEXT +447520619229 826
 18434      OPTP0000                  KICHI NGUYEN TRAI HO CHI MINH 704
 18435      OPTP0000                                HNPMC422 HA NOI 704
 18436      OPTP0000  TKTT MOBILE BANKING 57 LY THUONG KIET, HOAN KI...

        NET_CASH_FLOW_AMT_LCY   TXN_SRC_ID CARD_CLASSCIFICATION  CREDIT_LIMIT  \
 11                  200000.0  270573626.0                   VC      12000000
 12                  512200.0  270596125.0                   VC      11000000
 13                  512200.0  270597152.0                   VC      11000000
 14                  308200.0  270597964.0                   VC      11000000
 15                  610000.0  270600572.0                   VC      50000000
 ...                      ...          ...                  ...           ...
 18432                98000.0  403023723.0                   VC      34000000
 18433              2913693.0  403023925.0                   VC      14000000
 18434               764640.0  403033209.0                   VC      40000000
 18435               140000.0  403039538.0                   VC      21000000
 18436                10000.0  403052851.0                   VC      29000000

        year  month  day
 11     2022      5   22
 12     2022      5   22
 13     2022      5   22
 14     2022      5   22
 15     2022      5   22
 ...     ...    ...  ...
 18432  2023      7   31
 18433  2023      7   31
 18434  2023      7   31
 18435  2023      7   31
 18436  2023      7   31

 [3444 rows x 12 columns],
                                CIF hash  \
 91     73842a366de67e8d76320590e6a6ced8
 92     4f5a39e1204e049da7edf68b8f5f3414
 95     0828e14ddfd5dcfe9b2fc7a54eeba5f8
 97     8005882b634ca522bf44b3e07d8752eb
 100    8005882b634ca522bf44b3e07d8752eb
 ...                                 ...
 19556  8b0cd88c599475377a006f9535233825
 19557  626ef5a51add74b6f85c885fc3063527
 19558  626ef5a51add74b6f85c885fc3063527
 19559  626ef5a51add74b6f85c885fc3063527
 19560  8b0cd88c599475377a006f9535233825

                                            CARD_NBR hash              TXN_TM  \
 91     5001c0d5c425bdfdcd5108671045068a43e3012dc4faf7... 2022-06-01 12:54:21
 92     27b838994beccba6db7ddc83a6b75f97c0a8bcadb8f815... 2022-06-01 17:09:10
 95     f0b80252f29a51ae72a1e4a259ca6857824f00e62cc868... 2022-06-02 11:01:46
 97     419d53a19c0f2c9cca0cc4488430ac2469506cc1a9c429... 2022-06-02 19:07:17
 100    419d53a19c0f2c9cca0cc4488430ac2469506cc1a9c429... 2022-06-04 12:54:00
 ...                                                  ...                 ...
 19556  fddd87622ba07539c2b1a1689ce4fa67725ceda0e70fdb... 2023-08-21 23:03:08
 19557  e2b6431a93ca2afde0c086e989446eb9db12b42673fe0c... 2023-08-21 23:23:27
 19558  e2b6431a93ca2afde0c086e989446eb9db12b42673fe0c... 2023-08-21 23:25:09
 19559  e2b6431a93ca2afde0c086e989446eb9db12b42673fe0c... 2023-08-21 23:26:21
 19560  fddd87622ba07539c2b1a1689ce4fa67725ceda0e70fdb... 2023-08-21 23:33:39

       TML_WEB_AP_NM                                                DSC  \
 91         OPTP0028  TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...
 92         OPTP0000                       NL-ALEPAY*279 1900585899 704
 95         OPTP0000          VINMART+ NVT TPV NGHE AN TINH NGHE AN 704
 97         OPTP0000                     CANIFA NINH BINH NINH BINH 704
 100        OPTP0000                                        GRAB 00 704
 ...             ...                                                ...
 19556      OPTP0000                    THE GIOI DI DONG 0838125960 704
 19557      OPTP0028  TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...
 19558      OPTP0000  TKTT MOBILE BANKING 57 LY THUONG KIET, HOAN KI...
 19559      OPTP0000                   MPOS*HKDTOPTEPMART Q BA DINH 704
 19560      OPTP0000                   NL-ALEPAY*FPTSHOP 1900585899 704

        NET_CASH_FLOW_AMT_LCY   TXN_SRC_ID CARD_CLASSCIFICATION  CREDIT_LIMIT  \
 91                 3500000.0  273092292.0                   VC      50000000
 92                17900000.0  273156006.0                   VC      50000000
 95                   49600.0  273316945.0                   VC      40000000
 97                  199000.0  273435894.0                   VC      50000000
 100                   1000.0  273854027.0                   VC      50000000
 ...                      ...          ...                  ...           ...
 19556                30000.0  410760486.0                   VC      29000000
 19557              2993900.0  410769910.0                   VC       6000000
 19558               136850.0  410770114.0                   VC       6000000
 19559              3070000.0  410770270.0                   VC       6000000
 19560               100000.0  410772034.0                   VC      29000000

        year  month  day
 91     2022      6    1
 92     2022      6    1
 95     2022      6    2
 97     2022      6    2
 100    2022      6    4
 ...     ...    ...  ...
 19556  2023      8   21
 19557  2023      8   21
 19558  2023      8   21
 19559  2023      8   21
 19560  2023      8   21

 [8365 rows x 12 columns])

In [29]:
merged_df.head(5)

,CIF hash,CARD_NBR hash,TXN_TM,TML_WEB_AP_NM,DSC,NET_CASH_FLOW_AMT_LCY,TXN_SRC_ID,CARD_CLASSCIFICATION,CREDIT_LIMIT,year,month,day
11,d46f9418182bc00b4d12d4eee5058c41,e3ec0045c51675ba5bd927204be7a68ae0e7dbb38d9493...,2022-05-22 02:54:08,OPTP0000,"TKTT MOBILE BANKING 57 LY THUONG KIET, HOAN KI...",200000.0,270573626.0,VC,12000000,2022,5,22
12,0deb82c7391489aa02c771fec3b67f0f,41874f1bdd5736ee9e3c884326e3137839484f3ab3a86b...,2022-05-22 08:45:26,OPTP0000,MOMO VN 1900545441 704,512200.0,270596125.0,VC,11000000,2022,5,22
13,0deb82c7391489aa02c771fec3b67f0f,41874f1bdd5736ee9e3c884326e3137839484f3ab3a86b...,2022-05-22 08:51:55,OPTP0000,MOMO VN 1900545441 704,512200.0,270597152.0,VC,11000000,2022,5,22
14,0deb82c7391489aa02c771fec3b67f0f,41874f1bdd5736ee9e3c884326e3137839484f3ab3a86b...,2022-05-22 08:56:27,OPTP0000,MOMO VN 1900545441 704,308200.0,270597964.0,VC,11000000,2022,5,22
15,4f5a39e1204e049da7edf68b8f5f3414,27b838994beccba6db7ddc83a6b75f97c0a8bcadb8f815...,2022-05-22 09:08:59,OPTP0000,TIKI 842873058454 704,610000.0,270600572.0,VC,50000000,2022,5,22

In [76]:
def filter_add_debt(df: pd.DataFrame):
    add_debt_df = df.loc[((df["TML_WEB_AP_NM"] == "OPTP0000") | (df["TML_WEB_AP_NM"] == "OPTP0119")), :]
    return add_debt_df

add_debt_df = filter_add_debt(merged_df)
add_debt_df.head(5)

,CIF hash,CARD_NBR hash,TXN_TM,TML_WEB_AP_NM,DSC,NET_CASH_FLOW_AMT_LCY,TXN_SRC_ID,CARD_CLASSCIFICATION,CREDIT_LIMIT,year,month,day
11,d46f9418182bc00b4d12d4eee5058c41,e3ec0045c51675ba5bd927204be7a68ae0e7dbb38d9493...,2022-05-22 02:54:08,OPTP0000,"TKTT MOBILE BANKING 57 LY THUONG KIET, HOAN KI...",200000.0,270573626.0,VC,12000000,2022,5,22
12,0deb82c7391489aa02c771fec3b67f0f,41874f1bdd5736ee9e3c884326e3137839484f3ab3a86b...,2022-05-22 08:45:26,OPTP0000,MOMO VN 1900545441 704,512200.0,270596125.0,VC,11000000,2022,5,22
13,0deb82c7391489aa02c771fec3b67f0f,41874f1bdd5736ee9e3c884326e3137839484f3ab3a86b...,2022-05-22 08:51:55,OPTP0000,MOMO VN 1900545441 704,512200.0,270597152.0,VC,11000000,2022,5,22
14,0deb82c7391489aa02c771fec3b67f0f,41874f1bdd5736ee9e3c884326e3137839484f3ab3a86b...,2022-05-22 08:56:27,OPTP0000,MOMO VN 1900545441 704,308200.0,270597964.0,VC,11000000,2022,5,22
15,4f5a39e1204e049da7edf68b8f5f3414,27b838994beccba6db7ddc83a6b75f97c0a8bcadb8f815...,2022-05-22 09:08:59,OPTP0000,TIKI 842873058454 704,610000.0,270600572.0,VC,50000000,2022,5,22

In [57]:
fact_df["TML_WEB_AP_NM"].value_counts()

TML_WEB_AP_NM
OPTP0000    17636
OPTP0028     1336
OPTP0020      177
OPTP0119      152
OPTP1501      118
OPTP0001       95
OPTP7005       45
OPTP0026        2
Name: count, dtype: int64

In [78]:
def filter_pay_debt(df: pd.DataFrame):
    pay_debt_df = df.loc[((df["TML_WEB_AP_NM"] == "OPTP0028") | (df["TML_WEB_AP_NM"] == "OPTP1501")), :]
    return pay_debt_df

pay_debt_df = filter_pay_debt(merged_df)
pay_debt_df.head()

,CIF hash,CARD_NBR hash,TXN_TM,TML_WEB_AP_NM,DSC,NET_CASH_FLOW_AMT_LCY,TXN_SRC_ID,CARD_CLASSCIFICATION,CREDIT_LIMIT,year,month,day
88,815e4858d422f45f27ff703fce8acfed,af446dd0dce35b7c0d687b32466726c89239b37dd8fcf9...,2022-05-31 21:23:35,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,1520565.0,272976284.0,VC,34000000,2022,5,31
91,73842a366de67e8d76320590e6a6ced8,5001c0d5c425bdfdcd5108671045068a43e3012dc4faf7...,2022-06-01 12:54:21,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,3500000.0,273092292.0,VC,50000000,2022,6,1
118,0828e14ddfd5dcfe9b2fc7a54eeba5f8,f0b80252f29a51ae72a1e4a259ca6857824f00e62cc868...,2022-06-06 15:57:12,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,143912.0,274393715.0,VC,40000000,2022,6,6
286,815e4858d422f45f27ff703fce8acfed,af446dd0dce35b7c0d687b32466726c89239b37dd8fcf9...,2022-06-17 09:54:55,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,737193.0,277175045.0,VC,34000000,2022,6,17
306,ae8bbf4b121fef182aae98c767899e83,582e14d16ee8c857a5df5d450fe3dcdb189bf214c4e0bd...,2022-06-18 12:34:21,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,1000000.0,277483815.0,VC,50000000,2022,6,18

In [100]:
def calculate_debt_per_period(df: pd.DataFrame):
    mask = ((df['TXN_TM'].dt.day <= 21) & (df['TXN_TM'].dt.month == df['month'])) | \
       ((df['TXN_TM'].dt.day >= 22) & (df['TXN_TM'].dt.month == df['month'] - 1))
    grouped_df = df[mask].groupby(['CIF hash', 'CARD_NBR hash', 'CREDIT_LIMIT', 'year', 'month']).agg({
        # Add aggregation functions for other columns as needed
        'DSC': 'count',  # Example aggregation: count the number of transactions
        'NET_CASH_FLOW_AMT_LCY': 'sum'  # Example aggregation: sum of cash flow amounts
    })
    return grouped_df

report_debt = calculate_debt_per_period(add_debt_df)
report_debt.head(10)

                                                                                                             DSC  \
CIF hash                         CARD_NBR hash                                      CREDIT_LIMIT year month
0340ab3837f34a1aa87d5b5a8a25a07e 8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0aa... 17000000     2022 9        4
                                                                                                      11       7
                                                                                                      12       1
                                                                                                 2023 1        2
                                                                                                      4        1
                                                                                                      5        1
04f221935990065c986d05b03c20a155 a6185c9450de61b47a5388cd55b356f1ad2a3cc65bdb6da... 30000000     2023 4       16
                                                                                                      5       16
                                                                                                      6       18
                                                                                                      7       18

                                                                                                             NET_CASH_FLOW_AMT_LCY
CIF hash                         CARD_NBR hash                                      CREDIT_LIMIT year month
0340ab3837f34a1aa87d5b5a8a25a07e 8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0aa... 17000000     2022 9                 15808000.0
                                                                                                      11                16517600.0
                                                                                                      12                   44000.0
                                                                                                 2023 1                 17000000.0
                                                                                                      4                 17000000.0
                                                                                                      5                 17000000.0
04f221935990065c986d05b03c20a155 a6185c9450de61b47a5388cd55b356f1ad2a3cc65bdb6da... 30000000     2023 4                  1700500.0
                                                                                                      5                  3243360.0
                                                                                                      6                  3277612.0
                                                                                                      7                  3440200.0

In [40]:
merged_df.loc[merged_df['CARD_NBR hash'] == "8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0aa7c3eff12fc6923c83", :]

,CIF hash,CARD_NBR hash,TXN_TM,TML_WEB_AP_NM,DSC,NET_CASH_FLOW_AMT_LCY,TXN_SRC_ID,CARD_CLASSCIFICATION,CREDIT_LIMIT,year,month,day
2589,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-09-19 21:52:59,OPTP0000,CTYVIMO*HOKINHDO 0824853333 704,15728000.0,303376660.0,VC,17000000,2022,9,19
2627,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-09-21 18:13:42,OPTP0000,Foody 19002042 704,1000.0,303934425.0,VC,17000000,2022,9,21
2628,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-09-21 18:13:45,OPTP0000,Foody 19002042 704,1000.0,303934425.0,VC,17000000,2022,9,21
2629,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-09-21 18:14:36,OPTP0000,Foody 19002042 704,78000.0,303934767.0,VC,17000000,2022,9,21
2970,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-09-27 13:53:45,OPTP0000,Foody 19002042 704,253000.0,305578899.0,VC,17000000,2022,9,27
4992,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-11-04 17:57:35,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,16060000.0,316780911.0,VC,17000000,2022,11,4
4993,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-11-04 17:58:46,OPTP0000,TPBANK QPAY 57 LY THUONG KIET HA NOI VNM 704 0...,16000000.0,316781459.0,VC,17000000,2022,11,4
5339,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-11-11 11:24:05,OPTP0000,Foody 19002042 704,103000.0,318841726.0,VC,17000000,2022,11,11
5651,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-11-18 12:17:13,OPTP0000,Foody 19002042 704,183000.0,321000870.0,VC,17000000,2022,11,18
5724,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-11-19 11:54:08,OPTP0000,Foody 19002042 704,57900.0,321311937.0,VC,17000000,2022,11,19
5725,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-11-19 11:54:09,OPTP0000,Foody 19002042 704,57900.0,321311937.0,VC,17000000,2022,11,19
5727,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-11-19 11:56:06,OPTP0000,Foody 19002042 704,57900.0,321312490.0,VC,17000000,2022,11,19
5728,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-11-19 11:56:07,OPTP0000,Foody 19002042 704,57900.0,321312490.0,VC,17000000,2022,11,19
5874,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-11-22 08:35:29,OPTP0000,"TKTT MOBILE BANKING 57 LY THUONG KIET, HOAN KI...",300000.0,322159723.0,VC,17000000,2022,11,22
5880,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-11-22 11:16:44,OPTP0000,Foody 19002042 704,67000.0,322208980.0,VC,17000000,2022,11,22
6103,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-12-08 08:06:55,OPTP0000,TPBANK QPAY 57 LY THUONG KIET HA NOI VNM 704 0...,44000.0,327196214.0,VC,17000000,2022,12,8
7252,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-01-03 11:21:50,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,1000000.0,335500476.0,VC,17000000,2023,1,3
7254,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-01-03 11:38:16,OPTP0000,KHANH LINH MART HA NOI 704,819000.0,335506667.0,VC,17000000,2023,1,3
7260,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-01-03 14:20:38,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,16000000.0,335555736.0,VC,17000000,2023,1,3
7267,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-01-03 15:28:38,OPTP0000,HKD LE NAM HA NOI 704,16181000.0,335578617.0,VC,17000000,2023,1,3
9745,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-02-28 11:39:35,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,1500000.0,352462376.0,VC,17000000,2023,2,28
9746,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-02-28 11:42:59,OPTP0000,HKD NGUYEN GUONG TOAI HA NOI 704,1500000.0,352463610.0,VC,17000000,2023,2,28
9747,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-02-28 11:46:26,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,15500000.0,352464702.0,VC,17000000,2023,2,28
9748,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-02-28 11:56:59,OPTP0000,HKD NGUYEN GUONG TOAI HA NOI 704,15500000.0,352467758.0,VC,17000000,2023,2,28
12101,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-04-04 14:05:47,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,16995716.0,363653187.0,VC,17000000,2023,4,4
12102,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-04-04 14:08:03,OPTP0000,ANH NGU MAT TROI DONG NAI 704,17000000.0,363653881.0,VC,17000000,2023,4,4
13414,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-05-04 15:09:03,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,17000000.0,373199786.0,VC,17000000,2023,5,4
13415,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-05-04 15:12:00,OPTP0000,HKD LE NAM HA NOI 704,17000000.0,373200793.0,VC,17000000,2023,5,4
15271,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-06-05 10:17:48,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,17510000.0,383451119.0,VC,17000000,2023,6,5
15277,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-06-05 12:07:39,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,220000.0,383497947.0,VC,17000000,2023,6,5

In [89]:
def calculate_fill_per_period(df: pd.DataFrame):
    mask = ((df['TXN_TM'].dt.day <= 5) & (df['TXN_TM'].dt.month == df['month'])) | \
       ((df['TXN_TM'].dt.day >= 22) & (df['TXN_TM'].dt.month == df['month']-1))
    grouped_df = df[mask].where(((df["TML_WEB_AP_NM"] == "OPTP0028") | (df["TML_WEB_AP_NM"] == "OPTP1501"))).groupby(['CIF hash', 'CARD_NBR hash', 'CREDIT_LIMIT', 'year', 'month']).agg({
        # Add aggregation functions for other columns as needed
        'DSC': 'count',  # Example aggregation: count the number of transactions
        'NET_CASH_FLOW_AMT_LCY': 'sum'  # Example aggregation: sum of cash flow amounts
    })
    return grouped_df

report_pay = calculate_fill_per_period(merged_df)
# report_df_3 = filter_pay_debt(report_df_3)
report_pay.head(10)

                                                                                                               DSC  \
CIF hash                         CARD_NBR hash                                      CREDIT_LIMIT year   month
0340ab3837f34a1aa87d5b5a8a25a07e 8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0aa... 17000000.0   2022.0 11.0     1
                                                                                                 2023.0 1.0      2
                                                                                                        4.0      1
                                                                                                        5.0      1
                                                                                                        6.0      2
05a6d37e7ea9a73c5343618218d0ddc6 0f4c05a84b29afc0c897c88c37c951fc60d884eb2ce9935... 40000000.0   2023.0 1.0      1
                                                                                                        3.0      2
                                                                                                        5.0      1
07d8609f67664a0d33c9a7591a56f61b f7fa6f493ce454610b8df7227b29760849594add24de1d8... 30000000.0   2023.0 6.0      1
                                                                                                        7.0      1

                                                                                                               NET_CASH_FLOW_AMT_LCY
CIF hash                         CARD_NBR hash                                      CREDIT_LIMIT year   month
0340ab3837f34a1aa87d5b5a8a25a07e 8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0aa... 17000000.0   2022.0 11.0              16060000.0
                                                                                                 2023.0 1.0               17000000.0
                                                                                                        4.0               16995716.0
                                                                                                        5.0               17000000.0
                                                                                                        6.0               17730000.0
05a6d37e7ea9a73c5343618218d0ddc6 0f4c05a84b29afc0c897c88c37c951fc60d884eb2ce9935... 40000000.0   2023.0 1.0                2856433.0
                                                                                                        3.0                4429817.0
                                                                                                        5.0                2821475.0
07d8609f67664a0d33c9a7591a56f61b f7fa6f493ce454610b8df7227b29760849594add24de1d8... 30000000.0   2023.0 6.0                2643038.0
                                                                                                        7.0                3829667.0

In [87]:
# pay_debt_df.head(5)
pay_debt_df.loc[pay_debt_df['CARD_NBR hash'] == "8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0aa7c3eff12fc6923c83", :]

,CIF hash,CARD_NBR hash,TXN_TM,TML_WEB_AP_NM,DSC,NET_CASH_FLOW_AMT_LCY,TXN_SRC_ID,CARD_CLASSCIFICATION,CREDIT_LIMIT,year,month,day
4992,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2022-11-04 17:57:35,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,16060000.0,316780911.0,VC,17000000,2022,11,4
7252,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-01-03 11:21:50,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,1000000.0,335500476.0,VC,17000000,2023,1,3
7260,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-01-03 14:20:38,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,16000000.0,335555736.0,VC,17000000,2023,1,3
9745,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-02-28 11:39:35,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,1500000.0,352462376.0,VC,17000000,2023,2,28
9747,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-02-28 11:46:26,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,15500000.0,352464702.0,VC,17000000,2023,2,28
12101,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-04-04 14:05:47,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,16995716.0,363653187.0,VC,17000000,2023,4,4
13414,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-05-04 15:09:03,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,17000000.0,373199786.0,VC,17000000,2023,5,4
15271,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-06-05 10:17:48,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,17510000.0,383451119.0,VC,17000000,2023,6,5
15277,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,2023-06-05 12:07:39,OPTP0028,TT QUA TPBANK EBANKING 44 LE NGOC HAN HA NOI V...,220000.0,383497947.0,VC,17000000,2023,6,5

In [102]:
report_debt = report_debt.reset_index()
report_debt['PERCENTAGE'] = report_debt['NET_CASH_FLOW_AMT_LCY']/report_debt['CREDIT_LIMIT']

In [106]:
report_debt[report_debt['PERCENTAGE'] > 0.9]

,index,CIF hash,CARD_NBR hash,CREDIT_LIMIT,year,month,DSC,NET_CASH_FLOW_AMT_LCY,PERCENTAGE
0,0,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,17000000,2022,9,4,15808000.0,0.929882
1,1,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,17000000,2022,11,7,16517600.0,0.971624
3,3,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,17000000,2023,1,2,17000000.0,1.000000
4,4,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,17000000,2023,4,1,17000000.0,1.000000
5,5,0340ab3837f34a1aa87d5b5a8a25a07e,8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0a...,17000000,2023,5,1,17000000.0,1.000000
...,...,...,...,...,...,...,...,...,...
566,566,c7896c69fd34a4a28f5d22d78bb4b663,eb4d93b8a3c1095ac84771b8c4a126b19b4d7c61b63b4b...,50000000,2022,9,100,77359480.0,1.547190
567,567,c7896c69fd34a4a28f5d22d78bb4b663,eb4d93b8a3c1095ac84771b8c4a126b19b4d7c61b63b4b...,50000000,2022,10,79,45456920.0,0.909138
568,568,c7896c69fd34a4a28f5d22d78bb4b663,eb4d93b8a3c1095ac84771b8c4a126b19b4d7c61b63b4b...,50000000,2022,11,80,52350100.0,1.047002
646,646,db157b17be89e1803920c16686d8a8ef,4d149beb19e0991ed40f3e24211e6742a04c2a06ed95a3...,11000000,2023,2,11,17631936.0,1.602903
679,679,e3401091fa9d2f4e4ad6539c6e4a2787,8c84ad802dcc30189ffa181553b07bad8baf489d045fdb...,21000000,2022,11,71,23793448.0,1.133021

In [129]:
df = merged_df
mask = ((df['TXN_TM'].dt.day <= 5) & (df['TXN_TM'].dt.month == df['month'])) | \
       ((df['TXN_TM'].dt.day >= 22) & (df['TXN_TM'].dt.month == df['month']-1))
money_in = df[mask].where(((df["TML_WEB_AP_NM"] == "OPTP0028") | (df["TML_WEB_AP_NM"] == "OPTP1501"))).groupby(['CIF hash', 'CARD_NBR hash', 'CREDIT_LIMIT', 'year', 'month']).agg({
        # Add aggregation functions for other columns as needed
        'DSC': 'count',  # Example aggregation: count the number of transactions
        'NET_CASH_FLOW_AMT_LCY': 'sum',  # Example aggregation: sum of cash flow amounts
        'TXN_TM': 'max'
    })
money_in

                                                                                                               DSC  \
CIF hash                         CARD_NBR hash                                      CREDIT_LIMIT year   month
0340ab3837f34a1aa87d5b5a8a25a07e 8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0aa... 17000000.0   2022.0 11.0     1
                                                                                                 2023.0 1.0      2
                                                                                                        4.0      1
                                                                                                        5.0      1
                                                                                                        6.0      2
...                                                                                                            ...
f879fdc0e0a03614d4260b286b17b064 6cb54071ea095dc31fa84e78d5c8eb2d6fde980bc853653... 18000000.0   2023.0 8.0      1
fabbc6f82889b39ea2529bcd3134ede2 a8ea8bc7dd239166636d3626765c69e5a056c57b0ffd1e1... 8000000.0    2023.0 2.0      1
                                                                                                        6.0      1
fb57dffb7f96a780b33ba00ba0f2d8c3 a466359e5b3742757bbbf27f9e33386f0f0c746fd6bdc8d... 50000000.0   2023.0 7.0      1
                                                                                                        8.0      2

                                                                                                               NET_CASH_FLOW_AMT_LCY  \
CIF hash                         CARD_NBR hash                                      CREDIT_LIMIT year   month
0340ab3837f34a1aa87d5b5a8a25a07e 8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0aa... 17000000.0   2022.0 11.0              16060000.0
                                                                                                 2023.0 1.0               17000000.0
                                                                                                        4.0               16995716.0
                                                                                                        5.0               17000000.0
                                                                                                        6.0               17730000.0
...                                                                                                                              ...
f879fdc0e0a03614d4260b286b17b064 6cb54071ea095dc31fa84e78d5c8eb2d6fde980bc853653... 18000000.0   2023.0 8.0                3000000.0
fabbc6f82889b39ea2529bcd3134ede2 a8ea8bc7dd239166636d3626765c69e5a056c57b0ffd1e1... 8000000.0    2023.0 2.0                3700000.0
                                                                                                        6.0                3192171.0
fb57dffb7f96a780b33ba00ba0f2d8c3 a466359e5b3742757bbbf27f9e33386f0f0c746fd6bdc8d... 50000000.0   2023.0 7.0                5640851.0
                                                                                                        8.0                5500000.0

                                                                                                                           TXN_TM
CIF hash                         CARD_NBR hash                                      CREDIT_LIMIT year   month
0340ab3837f34a1aa87d5b5a8a25a07e 8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0aa... 17000000.0   2022.0 11.0  2022-11-04 17:57:35
                                                                                                 2023.0 1.0   2023-01-03 14:20:38
                                                                                                        4.0   2023-04-04 14:05:47
                                                                                                        5.0   2023-05-04 15:09:03
                                                                                                        6.0   2023-06-05 12:07:39
...                                                                                                                           ...
f879fdc0e0a03614d4260b286b17b064 6cb54071ea095dc31fa84e78d5c8eb2d6fde980bc853653... 18000000.0   2023.0 8.0   2023-08-04 16:17:54
fabbc6f82889b39ea2529bcd3134ede2 a8ea8bc7dd239166636d3626765c69e5a056c57b0ffd1e1... 8000000.0    2023.0 2.0   2023-02-01 13:21:23
                                                                                                        6.0   2023-06-05 17:50:13
fb57dffb7f96a780b33ba00ba0f2d8c3 a466359e5b3742757bbbf27f9e33386f0f0c746fd6bdc8d... 50000000.0   2023.0 7.0   2023-07-04 14:19:29
                                                                                                        8.0   2023-08-03 13:42:03

[349 rows x 3 columns]

In [131]:
df = merged_df
mask = ((df['TXN_TM'].dt.day <= 21) & (df['TXN_TM'].dt.month == df['month'])) | \
       ((df['TXN_TM'].dt.day >= 22) & (df['TXN_TM'].dt.month == df['month'] - 1))
money_out = df[mask].groupby(['CIF hash', 'CARD_NBR hash', 'CREDIT_LIMIT', 'year', 'month']).agg({
    # Add aggregation functions for other columns as needed
    'DSC': 'count',  # Example aggregation: count the number of transactions
    'NET_CASH_FLOW_AMT_LCY': 'sum',
    'TXN_TM': 'min'
})
money_out

                                                                                                             DSC  \
CIF hash                         CARD_NBR hash                                      CREDIT_LIMIT year month
0340ab3837f34a1aa87d5b5a8a25a07e 8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0aa... 17000000     2022 9        4
                                                                                                      11       8
                                                                                                      12       1
                                                                                                 2023 1        4
                                                                                                      4        2
...                                                                                                          ...
fabbc6f82889b39ea2529bcd3134ede2 a8ea8bc7dd239166636d3626765c69e5a056c57b0ffd1e1... 8000000      2023 7        3
                                                                                                      8        1
fb57dffb7f96a780b33ba00ba0f2d8c3 a466359e5b3742757bbbf27f9e33386f0f0c746fd6bdc8d... 50000000     2023 6        7
                                                                                                      7       32
                                                                                                      8       33

                                                                                                             NET_CASH_FLOW_AMT_LCY  \
CIF hash                         CARD_NBR hash                                      CREDIT_LIMIT year month
0340ab3837f34a1aa87d5b5a8a25a07e 8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0aa... 17000000     2022 9                 15808000.0
                                                                                                      11                32577600.0
                                                                                                      12                   44000.0
                                                                                                 2023 1                 34000000.0
                                                                                                      4                 33995716.0
...                                                                                                                            ...
fabbc6f82889b39ea2529bcd3134ede2 a8ea8bc7dd239166636d3626765c69e5a056c57b0ffd1e1... 8000000      2023 7                   628000.0
                                                                                                      8                   338800.0
fb57dffb7f96a780b33ba00ba0f2d8c3 a466359e5b3742757bbbf27f9e33386f0f0c746fd6bdc8d... 50000000     2023 6                  2967122.0
                                                                                                      7                 14207854.0
                                                                                                      8                 18036770.0

                                                                                                                         TXN_TM
CIF hash                         CARD_NBR hash                                      CREDIT_LIMIT year month
0340ab3837f34a1aa87d5b5a8a25a07e 8a310933f4b7f835b19a0a8a2ab43ef865e49111d3fb0aa... 17000000     2022 9     2022-09-19 21:52:59
                                                                                                      11    2022-11-04 17:57:35
                                                                                                      12    2022-12-08 08:06:55
                                                                                                 2023 1     2023-01-03 11:21:50
                                                                                                      4     2023-04-04 14:05:47
...                                                                                                                         ...
fabbc6f82889b39ea2529bcd3134ede2 a8ea8bc7dd239166636d3626765c69e5a056c57b0ffd1e1... 8000000      2023 7     2023-07-01 21:03:21
                                                                                                      8     2023-08-08 10:03:16
fb57dffb7f96a780b33ba00ba0f2d8c3 a466359e5b3742757bbbf27f9e33386f0f0c746fd6bdc8d... 50000000     2023 6     2023-06-07 08:49:42
                                                                                                      7     2023-07-04 09:42:06
                                                                                                      8     2023-08-01 10:40:21

[841 rows x 3 columns]